@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

body {
  margin: 0;
  padding: 0;
}

/* app css */

.QuestionScreen {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  background-color: #FFFFFF;
  min-height: 100vh;

}

.Screen-header {
  background-color: #FFFFFF;
}

.animation-box {
  width: 200px;
  /* Adjust as needed */
  height: 200px;
  /* Adjust as needed */
  /* margin: 20px; */
  margin-left: 10%;
  background-color: #ffffff;
  /* Placeholder for the animation area */
}

.image-container {
  position: relative;
  width: 500px;
  /* Adjust as needed */
  height: 500px;
  /* Adjust as needed */
  /* margin: 20px; */
  margin-left: 20%;
  margin-top: 5%;
  background-color: #ffffff;
  /* Placeholder for the animation area */
}

.question-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-fact {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  /* Semi-transparent white background */
  padding: 10px;
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: 16px; */
  font-size: 24px;
  color: #1E425E;
  /* Adjust the text color */
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Common styling for both question types */
.question-container {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  /* background-color: #ADE28E; */
  color: #223949;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

/* Styling for MCQ questions */
.mcq-question {
  padding-top: 20px;
  /* Adjust as needed */
}

.mcq-question button {
  display: block;
  margin: 5px auto;
  width: 50%;
  padding: 10px 20px;
  background-color: #ADE28E;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  box-sizing: border-box;
}

.mcq-question button.selected {
  background-color: #61C088;
  color: white;
}

/* Styling for Slider questions */
.slider-question input[type="range"] {
  width: 80%;
  /* Adjust the width as needed */
  margin: 10px auto;
  /* Adjust margin as needed */
  height: 20px;
  color: #ADE28E;
  background-color: #ADE28E;
}



/* Other styles remain the same */



.navigation-buttons {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* margin-top: 0%; */
  width: 20%;
  margin-left: 60%;
  /* Adjust the width as needed */
  padding: 15px 20px;
}

.navigation-buttons button {
  width: 130px;
  padding: 10px;
  margin: 0;
  background-color: #ADE28E;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  box-sizing: border-box;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .mcq-question {
    right: 0;
    margin-bottom: auto;
    /* Adjust the position for smaller screens */
  }

  .navigation-buttons {
    width: 100%;
  }
}

.mcq-question button:hover {
  opacity: 0.8;
}



/* Header.css */
header {
  background-color: #D6FFC2;
  /* padding: 1rem; */
  text-align: center;
  margin-bottom: 20px;
  border-radius: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav img {
  max-width: 150px;
  /* Adjust the width as needed */
  height: auto;
  /* This will maintain the aspect ratio of the image */
  padding-left: 10px;
}

.header-title {
  color: #008269;
  padding-right: 10px;

}

@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }
}

/* MainContent.css */


.carbon-footprint-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.global-footprint-image {
  /* Set a specific width or max-width for the image if needed */
  width: 50%;
  padding-bottom: 20px;
}

.text-content {
  text-align: justify;
  max-width: 45%;
  padding-right: 20px;
}

.carbon-footprint-title {
  color: #008269;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
}

.carbon-footprint-description {
  color: #223949;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.learn-more-button {
  background-color: #1E425E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  /* Additional button styling as needed */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .carbon-footprint-section {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    text-align: center;
    max-width: 90%;
  }

  .global-footprint-image {
    width: 90%;
    margin-bottom: 1rem;
    /* Space between image and text on small screens */
  }
}

/* section 2  */
.section-with-rectangles {
  position: relative;
  height: 400px;
  /* Set the height to match the previous section */
  margin: 0 auto;
  /* Centers the content */
  width: 1437px;
  /* Adjust based on your layout requirements */
}

.large-rectangle {
  background-color: #ebf0c066;
  height: 400px;
  width: 1437px;
  position: absolute;
  top: 0;
  left: 0;
  /* padding-top: 20px; */
}

.small-rectangle {
  background-color: #a8d9dd80;
  height: 400px;
  width: 537px;
  top: 0;
  left: 0;
  position: relative;
  /* padding-top: 50px; */
}

.white-box {
  /* background-color: #FFFFFF; */
  background-color: #ebf0c066;
  /* height: 512px;
  width: 799px; */
  height: 400px;
  width: 900px;
  top: 0px;
  left: 537px;
  position: absolute;
  /* padding-top: 50px; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* This centers the box */
  /* margin-left: 150px; */
  /* Adjust as needed to move box to the right */
}

.small-rectangle .label .text-wrapper {
  color: #4c6880;
  font-family: "Oooh Baby-Regular", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  top: 10px;
  /* Adjust as needed */
  right: 10px;
  /* Adjust as needed */
  /* padding-top: 20px;
  padding-bottom: 5px; */
}

.small-rectangle .label .reveal-your-IMPACT {
  color: #4c6880;
  font-family: "Open Sans-SemiBold", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  top: 20px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}


.calculator-description {
  color: #223949;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  width: 450px;
  padding-left: 10px;
  padding: 40px;
}

.white-box .label .text-wrapper {
  color: #5eadb4;
  font-family: "Open Sans-Bold", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  top: 20px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
  padding: 20px;

}

.environment-description {
  color: #223949;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  width: 750px;
  padding-left: 60px;
}


@media (max-width: 768px) {
  .section-with-rectangles {
    height: auto;
    /* Adjust the height for smaller screens */
    width: 90%;
    /* Take up full width */
  }

  .large-rectangle,
  .small-rectangle {
    width: 90%;
    /* Full width */
    height: auto;
    /* Adjust height as necessary */
  }

  .white-box {
    width: 90%;
    /* Adjust width for smaller screens */
    margin-left: 0;
    /* Reset margin to align with new layout */
    top: initial;
    left: initial;
    transform: translate(0, 0);
    /* Reset transform for new layout */
  }
}



/* section 3 */

.glossary-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  /* Same as previous sections */
}


.glossary-description {
  width: 70%;
  /* Adjust as needed, this is for the text part */
  color: #223949;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  width: 700px;
  padding-left: 50px;
}



.glossary-label .text-wrapper,
.glossary-label .terms-title {
  /* Removed 'position: absolute' from here */
  /* These elements will flow normally within the .glossary-label container */
  color: #008269;
  font-size: 50px;
  /* Adjust as needed */
  font-weight: 400;
  text-align: left;
  /* Adjust text alignment as needed */
  /* Other font styles */
  padding-left: 40px;
}

/* Styling for 'Terms' title */
.glossary-label .terms-title {
  font-family: "Open Sans-SemiBold", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  /* Other font styles */
}

/* Box styling */
.box {
  position: relative;
  /* To position the circle and image */
  height: 508px;
  width: 528px;
  /* This box will take up the remaining space in the flex container */
  padding-right: 50px;
}

/* MainContent.css */


.begin-now-button {
  margin-left: 550px;
  background-color: #1E425E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* Additional button styling as needed */
  border-radius: 10px;
  font-size: 20px;
  white-space: nowrap;
  display: inline-block;
}

.gb-image {
  position: absolute;
  /* Adjust the top and left properties to reposition the image */
  /* top: -50px; */
  /* Example value, adjust as needed */
  /* left: -50px; */
  /* Move the image to the left; adjust this value as needed */

  /* If the image is too large, you can also adjust its size */
  width: 100%;
  /* Adjust the width if necessary */
  height: auto;
  left: -50px;
  /* padding-right: 50px; */
  /* Keep the aspect ratio */
}


/* Hero page */
.hero-container {
  display: flex;
  align-items: center;
}

.hero-content {
  display: flex;
  /* Use flexbox to arrange child elements horizontally */
  flex-direction: column;
  /* Stack child elements vertically */
  align-items: center;
  /* Horizontally center child elements */
}

.cf-image {
  height: auto;
  width: auto;
  margin-left: 0%;

}

.text-container {
  margin-top: 3%;
  margin-left: 15%;

}

.whats-ur-cfc {
  color: #1E425E;
  text-align: center;
  font-family: DIN Condensed;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 25%;
  margin-right: 0%;
}

.reveal-button {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  border: 1px solid #000;
  background: #1E425E;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  margin-left: 25%;
  margin-right: 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-beside-image {
  text-align: center;
}



/* Footer.css */

footer {
  background-color: #D6FFC2;
  color: white;
  /* padding: 2rem 0; */
  font-family: 'Open Sans', sans-serif;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid #008269;
}

.footer-column h4 {
  margin-bottom: 1rem;
  color: #008269;
  /* Adjust the color code to the green you want */
}

.footer-column ul {
  list-style: none;
  padding: 0;
  color: #008269;
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-column a {
  color: #008269;
  text-decoration: none;
}

.footer-bottom {
  color: #008269;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  height: 100%;
}

.social-icons a {
  display: inline-block;
  margin-left: 10px;
}

.social-icons a img {
  width: 30px;
  height: auto;
}

.copyright-text {
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    margin-top: 1rem;
  }
}


/* Results Screen */

/* Section with carbon footprint percentage */
.ResultScreen {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* column-gap: 10px; */
  align-items: center;
}

.ResultBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.result-rectangle {
  width: 350px;
  height: 300px;
  padding-top: 10px;
  /* padding-left: 50px; */
  background-color: #ADE28E;
  /* margin-left: 20%; */
  border-radius: 30px;
  /* margin-left: 10px; */
  margin-bottom: 3%;
  /* flex: 2; */
}

.result-number {
  font-size: 100px;
  color: #008269;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 50px;
}

.result-number-text {
  font-size: 30px;
  color: #008269;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
}

.fact-1-rectangle {
  width: 350px;
  height: 300px;
  padding-top: 10px;
  /* padding-left: 50px; */
  background-color: #5eadb4;
  /* margin-left: 1%; */
  border-radius: 30px;
  /* margin-left: 10px; */
  margin-bottom: 3%;
  /* margin-left: 10%; */
  /* padding-left: 20px; */
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact-1-text {
  font-size: 30px;
  padding-left: 10px;
  color: #1E425E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.fact-2-rectangle {
  width: 350px;
  height: 300px;
  padding-top: 10px;
  /* padding-left: 50px; */
  background-color: #61C088;
  /* margin-left: 1%; */
  border-radius: 30px;
  /* margin-left: 10px; */
  margin-bottom: 3%;
  /* margin-left: 10%; */
  /* padding-left: 20px; */
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact-2-text {
  font-size: 30px;
  padding-left: 10px;
  color: #008269;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.breakdown-rectangle {
  width: 1075px;
  height: 200px;
  background-color: #000;
  /* margin-left: 10%; */
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.breakdown-text {
  font-size: 30px;
  padding-left: 10px;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}