@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');


body {
  margin: 0;
  padding: 0;
}

/* app css */



.question-screen-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.Screen-header {
  background-color: #FFFFFF;
  /* background-color: #000; */
}

.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  flex: 1;
  /* flex-direction: row; */
  height: 500px;
}

.question-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  flex: 1;
}


.image-fact {
  /* background-color: #000; */
  padding: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: #1E425E;
  /* height: 100%; */
  flex: 1;
}



/* Common styling for both question types */
.question-container {
  /* position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%); */
  /* background-color: #ADE28E; */
  color: #223949;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
  flex: 1;
}

/* Styling for MCQ questions */
.mcq-question {
  padding-top: 2rem;
  /* Adjust as needed */
}

.mcq-question button {
  /* display: block; */
  margin: 5px 0;
  width: 80%;
  padding: 10px 0;
  background-color: #ADE28E;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  /* box-sizing: border-box; */
  align-self: center;
}

.mcq-question button.selected {
  background-color: #61C088;
  color: white;
}

/* Styling for Slider questions */
.slider-question input[type="range"] {
  width: 100%;
  /* Adjust the width as needed */
  margin: 10px 0;
  /* Adjust margin as needed */
  height: 20px;
  color: #ADE28E;
  background-color: #ADE28E;
}


.navigation-buttons {
  display: flex;
  /* position: relative; */
  /* justify-content: space-between; */
  /* justify-content: space-between; */
  /* margin-top: 0%; */
  /* width: 20%; */
  /* margin-left: 60%; */
  /* Adjust the width as needed */
  /* padding: 15px 20px; */
  align-self: center;
  padding-top: 2rem;
  column-gap: 2rem;
}

.navigation-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 250px; */
  /* margin-right: 10px; */
  /* padding: 10px; */
  /* margin: 0; */
  /* width: 100%; */
  min-height: 40px;
  min-width: 150px;
  background-color: #ADE28E;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  box-sizing: border-box;
  align-self: center;
}


.question-tracker {
  padding-top: 2rem;
  color: #223949;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .mcq-question {
    right: 0;
    margin-bottom: auto;
    /* Adjust the position for smaller screens */
  }

  .navigation-buttons {
    width: 100%;
  }
}

.mcq-question button:hover {
  opacity: 0.8;
}



/* Header.css */
header {
  background-color: #D6FFC2;
  /* padding: 1rem; */
  text-align: center;
  /* margin-bottom: 20px; */
  border-radius: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav img {
  max-width: 150px;
  /* Adjust the width as needed */
  height: auto;
  /* This will maintain the aspect ratio of the image */
  padding-left: 1.5rem;
}

.header-title {
  color: #008269;
  padding-right: 1.5rem;

}

@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }
}

/* MainContent.css */

/* section 1 */
.carbon-footprint-section {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* column-gap: 10px; */
  justify-content: space-between;
  align-items: center;
}

.global-footprint-image-container {
  /* Set a specific width or max-width for the image if needed */
  /* width: 50%; */
  flex: 1;
  padding: 2rem;
}

.global-footprint-image {
  width: 100%;
}

.text-content {
  /* text-align: justify; */
  /* max-width: 45%; */
  flex: 1;
  /* padding-right: 20px; */
  /* padding-bottom: 20px;
  padding-right: 20px; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.carbon-footprint-title {
  color: #008269;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 2rem;
}

.carbon-footprint-description {
  color: #223949;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  padding: 2rem;
}

.learn-more-button {
  background-color: #1E425E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  /* Additional button styling as needed */
  /* cursor: pointer; */
  align-self: center;
  margin-top: auto;
  font-size: 20px;
}

.learn-more-button:hover {
  background-color: #5eadb4;
  cursor: pointer;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .carbon-footprint-section {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    text-align: center;
    max-width: 90%;
  }

  .global-footprint-image {
    width: 90%;
    margin-bottom: 1rem;
    /* Space between image and text on small screens */
  }
}

/* section 2  */
.section-with-rectangles {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* column-gap: 10px; */
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0 20px;
}



.small-rectangle {
  background-color: #a8d9dd80;
  flex: 1;
  /* padding-top: 50px; */
  padding: 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.white-box {
  /* background-color: #FFFFFF; */
  /* padding-top: 50px; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* This centers the box */
  /* margin-left: 150px; */
  /* Adjust as needed to move box to the right */
  /* background-color: #e4d5b7; */
  background-color: #FAF0E6;
  flex: 2;
  padding: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.small-rectangle-title {
  color: #4c6880;
  font-family: "Oooh Baby-Regular", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  /* padding: 2rem; */
}

.white-box-title {
  /* color: #D9B99B; */
  color: #C19A6B;
  font-family: "Oooh Baby-Regular", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  /* padding: 2rem; */
}

.calculator-description {
  color: #4c6880;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  padding-top: 2rem;
}

.environment-description {
  color: #C19A6B;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  padding-top: 2rem;
}


@media (max-width: 768px) {
  .section-with-rectangles {
    height: auto;
    /* Adjust the height for smaller screens */
    width: 90%;
    /* Take up full width */
  }

  .small-rectangle {
    width: 90%;
    /* Full width */
    height: auto;
    /* Adjust height as necessary */
  }

  .white-box {
    width: 90%;
    /* Adjust width for smaller screens */
    margin-left: 0;
    /* Reset margin to align with new layout */
  }
}



/* section 3 */

.glossary-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 600px; */
  /* Same as previous sections */
}

.glossary-content {
  flex: 1;
  padding: 2rem;
  width: 100%;
}

.glossary-title {
  color: #008269;
  font-size: 50px;
  /* Adjust as needed */
  font-weight: 400;
  text-align: center;
  /* Adjust text alignment as needed */
  /* Other font styles */
  /* padding-left: 40px; */
}

.glossary-description {
  /* width: 70%; */
  /* Adjust as needed, this is for the text part */
  color: #223949;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  padding: 2rem;
}

/* Box styling */
.glossary-image-container {
  flex: 1;
  padding: 2rem;
}

.gb-image {
  /* position: absolute; */
  /* Adjust the top and left properties to reposition the image */
  /* top: -50px; */
  /* Example value, adjust as needed */
  /* left: -50px; */
  /* Move the image to the left; adjust this value as needed */

  /* If the image is too large, you can also adjust its size */
  width: 100%;
  /* Adjust the width if necessary */
  /* height: auto;
  left: -50px; */
  /* padding-right: 50px; */
  /* Keep the aspect ratio */
}

.begin-now-button {
  margin-left: 550px;
  background-color: #1E425E;
  color: white;
  border: none;
  padding: 10px 20px;
  /* Additional button styling as needed */
  border-radius: 10px;
  font-size: 20px;
  white-space: nowrap;
  display: inline-block;
}

.begin-now-button:hover {
  background-color: #5eadb4;
  cursor: pointer;
}




/* Hero page */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image-container {
  display: flex;
  /* Use flexbox to arrange child elements horizontally */
  /* flex-direction: column; */
  /* Stack child elements vertically */
  /* align-items: center; */
  /* Horizontally center child elements */
  flex: 1;
  padding: 2rem;
}

.cf-image {
  /* height: auto;
  width: auto;
  margin-left: 0%; */
  width: 100%;

}


.whats-ur-cfc {
  color: #1E425E;
  text-align: center;
  font-family: DIN Condensed;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-left: 25%; */
  /* margin-right: 0%; */
  padding-bottom: 20px;
}

.reveal-button {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  border: 1px solid #000;
  background: #1E425E;
  color: #FFFFFF;
  /* cursor: pointer; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 700;
  /* margin-left: 25%; */
  /* margin-right: 0%; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.reveal-button:hover {
  background-color: #5eadb4;
  cursor: pointer;
}

.text-beside-image {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
}



/* Footer.css */

footer {
  background-color: #D6FFC2;
  color: white;
  /* padding: 2rem 0; */
  font-family: 'Open Sans', sans-serif;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid #008269;
}

.footer-column h4 {
  margin-bottom: 1rem;
  color: #008269;
  /* Adjust the color code to the green you want */
}

.footer-column ul {
  list-style: none;
  padding: 0;
  color: #008269;
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-column a {
  color: #008269;
  text-decoration: none;
}

.footer-bottom {
  color: #008269;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  height: 100%;
}

.social-icons a {
  display: inline-block;
  margin-left: 10px;
}

.social-icons a img {
  width: 30px;
  height: auto;
}

.copyright-text {
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    margin-top: 1rem;
  }
}


/* Results Screen */

/* Section with carbon footprint percentage */
.ResultScreen {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* column-gap: 10px; */
  align-items: center;
}

.ResultBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  padding-top: 2rem;
}

.result-rectangle {
  width: 350px;
  height: 300px;
  padding-top: 10px;
  /* padding-left: 50px; */
  background-color: #ADE28E;
  /* margin-left: 20%; */
  border-radius: 30px;
  /* margin-left: 10px; */
  margin-bottom: 3%;
  /* flex: 2; */
}

.result-number {
  font-size: 100px;
  color: #008269;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 50px;
}

.result-number-text {
  font-size: 30px;
  color: #008269;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
}

.fact-1-rectangle {
  width: 350px;
  height: 300px;
  padding-top: 10px;
  /* padding-left: 50px; */
  background-color: #5eadb4;
  /* margin-left: 1%; */
  border-radius: 30px;
  /* margin-left: 10px; */
  margin-bottom: 3%;
  /* margin-left: 10%; */
  /* padding-left: 20px; */
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact-1-text {
  font-size: 30px;
  padding-left: 10px;
  color: #1E425E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.fact-2-rectangle {
  width: 350px;
  height: 300px;
  padding-top: 10px;
  /* padding-left: 50px; */
  background-color: #61C088;
  /* margin-left: 1%; */
  border-radius: 30px;
  /* margin-left: 10px; */
  margin-bottom: 3%;
  /* margin-left: 10%; */
  /* padding-left: 20px; */
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact-2-text {
  font-size: 30px;
  padding-left: 10px;
  color: #008269;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.breakdown-rectangle {
  width: 1075px;
  height: 200px;
  background-color: #000;
  /* margin-left: 10%; */
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.breakdown-text {
  font-size: 30px;
  padding-left: 10px;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 10px 50px; */
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}